{% extends "base.html" %}

{% block content %}
    <a href="{% url 'tweet_list' %}" class="btn btn-outline-danger pt-0 pb-0 mt-4">
        <span class="text-light" style="font-size: .8rem">Back</span>
    </a>
    <h2 class="m-4">
        {% if form.instance.pk %}
        Edit Tweet
        {% else %}
        Create Tweet
        {% endif %}
    </h2>
    <form method="post" class="form" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-outline-warning">Submit</button>
    </form>

{% endblock %}